{% extends 'index.html' %}
{% block title %}
Course Catalog
{% endblock %}
{% block body %}
  <div class="container">

    <div class="row">
      <h1 style="text-align: center"><strong>Course Catalog</strong></h1>

      <p class="lead pull-center"></p>
    </div>

    <div class="block">
      <p class="lead pull-center">Search</p>

      <div style="padding:10px;">
        <form id="search_form" method="get" action=".">
          <div class="input-group">
            <input type="search" class="form-control" placeholder="e.g. ENGL1001" value="" name="q"
                   id="search_input" aria-describedby="Search for courses here">

            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
            </div>
          </div>
          <div class="form">
            <div class="row">
              <div class="form-group col-xs-12 col-sm-6">
                <label class="filter-col" style="margin-right:0;" for="i">Search in:</label>
                <select id="i" class="selectpicker show-tick" data-width="100%" name="i"
                        data-style="btn-default">
                  <option selected="selected" value="id">Course ID</option>
                  <option value="title">Course Title</option>
                  <option value="desc">Course Description</option>
                  <option value="all">All of the Above</option>
                </select>
              </div>
              <div class="form-group col-xs-12 col-sm-6">
                <label class="filter-col" style="margin-right:0;" for="grad">Graduate level:</label>
                <select id="grad" class="selectpicker show-tick" data-width="100%" name="grad"
                        data-style="btn-default">
                  <option selected="selected" value="both">Both</option>
                  <option value="undergrad">Undergraduate</option>
                  <option value="grad">Graduate</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <p class="lead pull-center">Browse by Discipline</p>

      <div>
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#1" aria-controls="Courses A to D" role="tab" data-toggle="tab">A-D</a></li>
          <li role="presentation"><a href="#2" aria-controls="Courses E to I" role="tab" data-toggle="tab">E-I</a></li>
          <li role="presentation"><a href="#3" aria-controls="Courses J to M" role="tab" data-toggle="tab">J-M</a></li>
          <li role="presentation"><a href="#4" aria-controls="Courses N to R" role="tab" data-toggle="tab">N-R</a></li>
          <li role="presentation"><a href="#5" aria-controls="Courses S to V" role="tab" data-toggle="tab">S-V</a></li>
          <li role="presentation"><a href="#6" aria-controls="Courses W to Z" role="tab" data-toggle="tab">W-Z</a></li>
        </ul>
        <div class="tab-content">
          {% for group in tabs %}
            {% if forloop.first %}
              <div role="tabpanel" class="tab-pane fade in active" id="{{ forloop.counter }}">
            {% else %}
              <div role="tabpanel" class="tab-pane fade" id="{{ forloop.counter }}">
            {% endif %}
          {% for letter in group %}
            <div class="panel-group" id="accordion{{ letter.letter }}" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading{{ letter.letter }}">
                  <h4 class="panel-title">
                    <a style="display: block" data-toggle="collapse" data-parent="#accordion{{ letter.letter }}"
                       href="#collapse{{ letter.letter }}" aria-expanded="false"
                       aria-controls="collapse{{ letter.letter }}">
                      {{ letter.letter }} -
                      {% with letter_length=letter.disciplines|length %}{{ letter_length }} discipline{{ letter_length|pluralize }}{% endwith %}</a>
                  </h4>
                </div>
                <div id="collapse{{ letter.letter }}" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="heading{{ letter.letter }}">
                  <div class="panel-body">
                    <div class="table-responsive" style="text-align: justify">
                      <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                          <th>Discipline</th>
                          <th>Name</th>
                          <th>Number of Courses</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for discipline in letter.disciplines %}
                          <tr>
                            <td><a href="{% url 'course_catalog:discipline' discipline.discipline %}">{{ discipline.discipline }}</a></td>
                            <td>{{ discipline.name }}</td>
                            <td>{{ discipline.course_count }}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
          {% endfor %}
          </div>
        </div>
      </div>
      <div>
        <a href="{% url 'course_catalog:discipline_table' %}" class="lead">Or if you would prefer a sortable table of
          disciplines, click here.</a>
      </div>
    </div>
  </div>
{% endblock %}