{% extends 'index.html' %}
{% block css %}
{#  <link href="http://cdn.datatables.net/1.10.8/css/jquery.dataTables.min.css" rel="stylesheet">#}
  <link href="https://cdn.datatables.net/1.10.8/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/responsive/1.0.7/css/responsive.bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block js %}
  <script src="http://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.8/js/dataTables.bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"></script>
  <script>
  $(document).ready( function () {
    $('#discipline_table').DataTable({
{#      responsive: true#}
    });
} );
  </script>
{% endblock %}
{% block title %}
  Discipline Table
{% endblock %}
{% block body %}
<table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" id="discipline_table">
<thead>
<tr>
  <td>Discipline</td>
  <td>Name</td>
  <td>Courses</td>
</tr>
</thead>
<tbody>
{% for discipline in disciplines %}
  <tr>
  <td><a href="{% url 'course_catalog:discipline' discipline.discipline %}">{{ discipline.discipline }}</a></td>
  <td>{{ discipline.name }}</td>
  <td>{{ discipline.course_count }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}