{% if section %}
    <tr data-child-prof="{{ prof }}" data-child-call_number="{{ section.call_number }}" data-child-last-updated="{{ section.last_updated|date:'d M y H:i a' }}" data-child-prof-email="{{ prof_email }}">
      <td>{{ section.section_number }}</td>
      <td>{{ campus }}</td>
      <td style="text-align: center">
        {% if section.seats_available == 0%}
          <i class="fa fa-lock fa-2x fa-fw text-danger"><span class="sr-only">No</span></i>
        {% else %}
          <i class="fa fa-unlock-alt fa-2x fa-fw text-success"><span class="sr-only">Yes</span></i>
        {% endif %}
      </td>
{#    TODO: Link prof to a view for the Professor model. #}
      <td>{{ prof }}</td>
      <td>{{ section.current_enrollment }}/{{ section.total_seats }}</td>
      <td>{% for s in ss %}{% if forloop.first %}{{ s.instruction_format }}{% else %}<br>{{ s.instruction_format }}{% endif %}{% endfor %}</td>
      <td>{% for s in ss %}{% if forloop.first %}{{ s.classroom }}{% else %}<br>{{ s.classroom }}{% endif %}{% endfor %}</td>
      <td>{% for s in ss %}{% if forloop.first %}{{ s.days }}{% else %}<br>{{ s.days }}{% endif %}{% endfor %}</td>
      <td>{% for s in ss %}{% if forloop.first %}{{ s.class_start|time:"h:ia" }}{% else %}<br>{{ s.class_start|time:"h:i-a" }}{% endif %}{% endfor %}</td>
      <td>{% for s in ss %}{% if forloop.first %}{{ s.class_end|time:"h:i-a" }}{% else %}<br>{{ s.class_end|time:"h:i-a" }}{% endif %}{% endfor %}</td>
      <td>{{ section.call_number }}</td>
      <td>{{ section.last_updated|date:'d M y h:i a' }}</td>
    </tr>
{% endif %}