{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>
    {% block title %}
      {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
    {% endblock %}
    {% block title_suffix %}
      {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
      {% endwith %}
    {% endblock %}
  </title>
  <meta name="description" content=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  {# Global stylesheets #}
  <link rel="stylesheet" type="text/css" href="{% static 'css/cssko_me.css' %}">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
  {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
  {% endblock %}
</head>

<body style="padding-top: 4.5rem;" class="{% block body_class %}{% endblock %}">
{% wagtailuserbar %}
{% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="{% url 'homepage:index' %}">Chris Kothman</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Portfolio
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item {% if active_nav == 'resume' %}active{% endif %}" href="{% url 'homepage:resume' %}">
              Résumé
              {% if active_nav == 'resume' %}<span class="sr-only">(current)</span>{% endif %}
            </a>
            <a class="dropdown-item {% if active_nav == 'work_experience' %}active{% endif %}" href="{% url 'homepage:work_experience' %}">
              Work Experience
              {% if active_nav == 'work_experience' %}<span class="sr-only">(current)</span>{% endif %}
            </a>
            <a class="dropdown-item {% if active_nav == 'activities' %}active{% endif %}" href="{% url 'homepage:activities' %}">
              Activities / Projects
              {% if active_nav == 'activities' %}<span class="sr-only">(current)</span>{% endif %}
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item {% if active_nav == 'contact' %}active{% endif %}" href="{% url 'homepage:contact' %}">
              Contact Me
              {% if active_nav == 'contact' %}<span class="sr-only">(current)</span>{% endif %}
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page %}active{% endif %}" href="/blog/">
            Blog
            {% if active_nav == 'contact' %}<span class="sr-only">(current)</span>{% endif %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'bearcatalog:catalog' %}">
            BearCatalog
          </a>
        </li>
      </ul>
      {% block navbar-sestarch %}
      {% endblock %}
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link" href="https://stackoverflow.com/users/4971218/cssko"><i
            class="fa fa-stack-overflow fa-lg"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="https://github.com/cssko"><i class="fa fa-github fa-lg"></i></a>
        </li>
        <li class="nav-item"><a class="nav-link" href="https://linkedin.com/in/cssko"><i
            class="fa fa-linkedin fa-lg"></i></a></li>
      </ul>
    </div>
  </nav>
{% endblock %}
<main role="main">
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</main>


{# Global javascript #}
<script type="text/javascript" src="{% static 'js/cssko_me.js' %}"></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% block extra_js %}
  {# Override this in templates to add extra javascript #}
{% endblock %}
</body>
</html>
