{% extends 'base.html' %}

{% block title %}Work Experience{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-12"><h4>Software Developer Coop @ University of Cincinnati</h4></div>
    <div class="col-sm-12"><h5>August - December 2017</h5>
      <hr>
    </div>
    <div class="col-sm-12">
      <p>
        I returned to the Catalyst team my second coop semester.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12"><h4>Software Developer Coop @ University of Cincinnati</h4></div>
    <div class="col-sm-12"><h5>January - May 2017</h5>
      <hr>
    </div>
    <div class="col-sm-12">
      <p>
        My first coop semester. My job was to work on improvements to the front end portal of the university's student information system, <a href="https://www.uc.edu/catalyst.html">Catalyst</a>.
        I went in not knowing up from down when it comes to Javascript and Reactjs, the library used.
        Thankfully my cubemate, a fellow coop named George, was familiar with javascript enough to answer any "How do I do x in JS?" questions I had that Mozillas docs didn't help with.
      </p>
      <p>
        We spent about a week getting familiar with Reactjs before we began the work of refactoring our codebase. During our refactoring spree, we took the time to improve some things.
        You can see some of the results <a href="https://github.com/University-Of-Cincinnati/catalyst-portal">here</a>.
      </p>
    </div>
  </div>


{% endblock %}